/.vscode
/2.cpp
/2.exe
/a.exe
/ad.cpp
/ad.exe
/allcode.cpp
/allcode.exe
/assingmentsem2.cpp
/assingmentsem2.exe
/boom copy.cpp
/boom.cpp
/boom.exe
/boom1.txt
/but.cpp
/but.exe
/contactbook.cpp
/contactbook.exe
/contactbook.txt
/exam.cpp
/imp1.exe
/itp2.cpp
/itp2.exe
/itp3.exe
/itpclass1.cpp
/itpproject.cpp
/itpproject2.cpp
/KUSUM.exe
/lec10.cpp
/lec10.exe
/lec11.cpp
/lec11.exe
/lect12.cpp
/lect13.cpp
/lect14.cpp
/lect15.cpp
/lect7.cpp
/new.cpp
/ntt.cpp
/opps1.cpp
/opps10.cpp
/opps10.exe
/opps11.cpp
/opps11.exe
/opps2.cpp
/opps2.exe
/opps3.cpp
/opps3.exe
/opps4.cpp
/opps5.cpp
/opps5.exe
/opps6.cpp
/opps7.cpp
/opps7.exe
/opps8.cpp
/opps8.exe
/opps9.cpp
/opps9.exe
/project1.cpp
/q.cpp
/q.exe
/q1.cpp
/q1.exe
/q2.cpp
/q2.exe
/q3.cpp
/re.cpp
/re.exe
/reportcardsystem.exe
/SIP.cpp
/sip.exe
/SIP2.cpp
/SIP2.exe
/SIP3.cpp
/SIP3.exe
/student.dat
/t.cpp
/t.exe
/t2.cpp
/t2.exe
/tempCodeRunnerFile.cpp
/tempCodeRunnerFile.exe
/today.cpp
/today.exe
/today2.cpp
/today2.exe
/tw.cpp
/tw.exe
/ww.cpp